### Intro to Relational DBs

#### ADD a COLUMN with ALTER TABLE 
ALTER TABLE table_name <br>
ADD COLUMN column_name data_type;

#### Delete table
DROP TABLE table_name;

#### Rename columns
ALTER TABLE table_name<br>
RENAME COLUMN old_name TO new_name;

#### Delete columns
ALTER TABLE table_name<br>
DROP COLUMN column_name;

#### Insert distinct items to rows
INSERT INTO table_name_1<br>
SELECT DISTINCT col_1, col_2, col_3<br>
FROM table_name_2;

In [ ]:
# -- Rename the organisation column
ALTER TABLE affiliations
RENAME COLUMN organisation TO organization;

# -- Delete the university_shortname column
ALTER TABLE affiliations
DROP COLUMN university_shortname;

# -- Insert unique professors into the new table
INSERT INTO professors 
SELECT DISTINCT firstname, lastname, university_shortname 
FROM university_professors;

### Integrity constraints

1. Attribute const = data types on columns
2. Key const = primary keys
3. Referential integrity const = foreign keys


Constraints give structure to the data, consistency, data quality but enforcing const is difficult

To conduct calculations change the data type to a working data type:<br>

SELECT CAST(some_column AS integer)<br>
FROM table;

Data types:
 - Are enforced on columns
 - Define the "domain" of a column
 - Define operations that are possible
 - Enforce consistent storage of values
 
Most common data types:
 - text: character strings of any length
 - varchar(n): a max of n characters
 - char(n): a fixed-length string of n characters
 - boolean: three-state value of TRUE/FALSE/NULL
 - numeric: aribtrary precision numbers
 - integer: whole numbers in the range of -/+2147483648
 - date, time, timestamp: various formats of date and time
 
To change the data type of a column:

ALTER TABLE table_name<br>
ALTER COLUMN column_name<br>
TYPE varchar(10)

In [ ]:
# -- Specify the correct fixed-length character type
ALTER TABLE professors
ALTER COLUMN university_shortname
TYPE char(3);

# -- Change the type of firstname
ALTER TABLE professors
ALTER COLUMN firstname
TYPE varchar(64);

To truncate the values before type conversion:

ALTER TABLE table_name<br>
ALTER COLUMN column_name<br>
TYPE varchar(x)<br>
USING SUBSTRING(column_name FROM 1 FOR x)

In [ ]:
# -- Convert the values in firstname to a max. of 16 characters
ALTER TABLE professors 
ALTER COLUMN firstname 
TYPE varchar(16)
USING SUBSTRING(firstname FROM 1 FOR 16)

The NOT NULL constraint (when a column does not allow for missing values)

You can add a not-null constraint after the table has been created by:

ALTER TABLE table_name<br>
ALTER COLUMN column_name<br>
SET NOT NULL

And to remove a not-null constraint:

ALTER TABLE table_name<br>
ALTER COLUMN column_name<br>
DROP NOT NULL

The UNIQUE constraint (when a column does not include duplicates)

CREATE TABLE table_name(<br>
    column_name UNIQUE<br>
);

ALTER TABLE table_name<br>
ADD CONSTRAINT some_name UNIQUE(column_name);

In [ ]:
# -- Disallow NULL values in lastname
ALTER TABLE professors
ALTER COLUMN lastname
SET NOT NULL

# -- Make organizations.organization unique
ALTER TABLE organizations
ADD CONSTRAINT organization_unq UNIQUE(organization)

#### What is a key?

Attributes whose values are unique across the table (identify a record uniquely)<br>
A superkey is a set of attributes that uniquely identifies each tuple of a relation https://en.wikipedia.org/wiki/Superkey<br>
If no attributes can be removed without losing the uniquess property, then superkeys are "minimal"


Identify keys with SELECT COUNT DISTINCT

There's a very basic way of finding out what qualifies for a key in an existing, populated table:

 - Count the distinct records for all possible combinations of columns. If the resulting number x equals the number of all rows in the table for a combination, you have discovered a superkey.

 - Then remove one column after another until you can no longer remove columns without seeing the number x decrease. If that is the case, you have discovered a (candidate) key.

Counting rows:

SELECT COUNT(DISTINCT(column_a, column_b, ...))<br>
FROM table;

In [ ]:
# -- Count the number of rows in universities
SELECT COUNT(DISTINCT(university, university_city)) 
FROM universities;

#### Primary keys

 - Single primary key per table
 - Built from as few columns as possible
 - Purpose is to uniquely identify records in a table
 - Defined on columns that don't accept duplicate values
 - Time invariant i.e. never change over time, so must make sure that future data won't break the key

CREATE TABLE table_name(<br>
    col_1 integer UNIQUE NOT NULL,<br>
    col_2 text,<br>
    col_3 numeric<br>
);

CREATE TABLE table_name(<br>
    col_1 integer PRIMARY KEY,<br>
    col_2 text,<br>
    col_3 numeric<br>
);

CREATE TABLE table_name(<br>
    col_1 integer,<br>
    col_2 text,<br>
    col_3 numeric<br>
    PRIMARY KEY (col_1, col_2)<br>
);

ALTER TABLE table_name<br>
ADD CONSTRAINT some_name PRIMARY KEY (column_name)

In [ ]:
# -- Rename the organization column to id
ALTER TABLE organizations
RENAME COLUMN organization TO id;

# -- Make id a primary key
ALTER TABLE organizations
ADD CONSTRAINT organization_pk PRIMARY KEY (id);

#### Surrogate keys

 - Method 1: adding a surrogate key with serial data type

ALTER TABLE table_name<br>
ADD COLUMN id SERIAL PRIMARY KEY;<br>

INSERT INTO table_name<br>
VALUES ('col1_value','col2_value', 'id_value')


 - Method 2: combine two or more existing columns into a new one

ALTER TABLE table_name<br>
ADD COLUMN column_c varchar(256);<br>

UPDATE table_name<br>
SET column_c = CONCAT(column_a, column_b);

ALTER TABLE table_name<br>
ADD CONSTRAINT pk PRIMARY KEY (column_c);

In [ ]:
# -- Add the new column to the table
ALTER TABLE professors 
ADD COLUMN id serial;

# -- Make id a primary key
ALTER TABLE professors 
ADD CONSTRAINT professors_pkey PRIMARY KEY (id);

# -- Have a look at the first 10 rows of professors
SELECT *  FROM professors LIMIT(10);

In [ ]:
# -- Count the number of distinct rows with columns make, model
SELECT COUNT(DISTINCT(make, model)) 
FROM cars;

# -- Add the id column
ALTER TABLE cars
ADD COLUMN id varchar(128);

# -- Update id with make + model
UPDATE cars
SET id = CONCAT(make, model);

# -- Make id a primary key
ALTER TABLE cars
ADD CONSTRAINT id_pk PRIMARY KEY(id);

# -- Have a look at the table
SELECT * FROM cars;

#### Model 1:N relationships with foreign keys

 - Foreign keys are designated columns that point to the primary key of another table
 - Domain of FK must be equal to domain of PK
 - FK values must exist in PK of the other table (FK const of "referential integrity")
 - FKs are not actual keys as duplicate values are allowed
 
The syntax to add a foreign key to an existing table is:

ALTER TABLE a <br>
ADD CONSTRAINT a_fkey FOREIGN KEY (b_id) REFERENCES b (id);

Table a should now refer to table b, via b_id, which points to id. a_fkey is, as usual, a constraint name you can choose on your own.

Pay attention to the naming convention employed here: Usually, a foreign key referencing another primary key with name id is named x_id, where x is the name of the referencing table in the singular form.

In [ ]:
# -- Rename the university_shortname column
ALTER TABLE professors
RENAME COLUMN university_shortname TO university_id;

# -- Add a foreign key on professors referencing universities
ALTER TABLE professors
ADD CONSTRAINT professors_fkey FOREIGN KEY (university_id) REFERENCES universities (id);

Foreign key constraints help you to keep order in your database mini-world. In your database, for instance, only professors belonging to Swiss universities should be allowed, as only Swiss universities are part of the universities table.

The foreign key on professors referencing universities you just created thus makes sure that only existing universities can be specified when inserting new data

INSERT INTO professors (firstname, lastname, university_id)<br>
VALUES ('Albert', 'Einstein', 'UZH');

In [2]:
# -- Select all professors working for universities in the city of Zurich
SELECT professors.lastname, universities.id, universities.university_city
FROM professors
JOIN universities
ON professors.university_id = universities.id
WHERE universities.university_city = 'Zurich';

#### Model M:N relationships with foreign keys

 - Create table
 - Add foreign keys for every connected table
 - Add additional attributes
 - No primary keys used
 
CREATE TABLE table_name(<br>
    col_1 INT REFERENCES table_other_1 (id),<br>
    col_2 varchar(256) REFERENCES table_other_2 (id),<br>
    function varchar(256)
);

In [ ]:
# -- Add a professor_id column
ALTER TABLE affiliations
ADD COLUMN professor_id integer REFERENCES professors (id);

# -- Rename the organization column to organization_id
ALTER TABLE affiliations
RENAME organization TO organization_id;

# -- Add a foreign key on organization_id
ALTER TABLE affiliations
ADD CONSTRAINT affiliations_organization_fkey FOREIGN KEY (organization_id) REFERENCES organizations (id);

Here's a way to update columns of a table based on values in another table:

UPDATE table_a<br>
SET column_to_update = table_b.column_to_update_from<br>
FROM table_b<br>
WHERE condition1 AND condition2 AND ...;

This query does the following:

For each row in table_a, find the corresponding row in table_b where condition1, condition2, etc., are met.

Set the value of column_to_update to the value of column_to_update_from (from that corresponding row).

The conditions usually compare other columns of both tables, e.g. table_a.some_column = table_b.some_column. Of course, this query only makes sense if there is only one matching row in table_b.

In [ ]:
# -- Set professor_id to professors.id where firstname, lastname correspond to rows in professors
UPDATE affiliations
SET professor_id = professors.id
FROM professors
WHERE affiliations.firstname = professors.firstname AND affiliations.lastname = professors.lastname;

#### Referential integrity

 - A record referencing another table must refer to an existing record in that table
 - Always specified between two tables and enforced with foreign keys
 
Violations of referential itegrity are dealt with:
 - No action - throws an error
 - CASCADE: Delete all referencing records
 - RESTRICT - throws an error
 - SET NULL - set referencing column to null
 - SET DEFAULT - set referencing column to its default value

#### Change the referential integrity behavior of a key

So far, you implemented three foreign key constraints:

professors.university_id to universities.id

affiliations.organization_id to organizations.id

affiliations.professor_id to professors.id

These foreign keys currently have the behavior ON DELETE NO ACTION. Here, you're going to change that behavior for the column referencing organizations from affiliations. If an organization is deleted, all its affiliations (by any professor) should also be deleted.

Altering a key constraint doesn't work with ALTER COLUMN. Instead, you have to DROP the key constraint and then ADD a new one with a different ON DELETE behavior.

For deleting constraints, though, you need to know their name. This information is also stored in information_schema.

In [ ]:
# -- Identify the correct constraint name
SELECT constraint_name, table_name, constraint_type
FROM information_schema.table_constraints
WHERE constraint_type = 'FOREIGN KEY';

# -- Drop the right foreign key constraint
ALTER TABLE affiliations
DROP CONSTRAINT affiliations_organization_id_fkey;

# -- Add a new foreign key constraint from affiliations to organizations which cascades deletion
ALTER TABLE affiliations
ADD CONSTRAINT affiliations_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES organizations (id) ON DELETE CASCADE;

# -- Delete an organization 
DELETE FROM organizations 
WHERE id = 'CUREM';

# -- Check that no more affiliations with this organization exist
SELECT * FROM affiliations
WHERE organization_id = 'CUREM';

![image](assets/intro_to_dbs/table_schema.png)

#### Count affiliations per university

Now that your data is ready for analysis, let's run some exemplary SQL queries on the database. You'll now use already known concepts such as grouping by columns and joining tables.

In this exercise, you will find out which university has the most affiliations (through its professors). For that, you need both affiliations and professors tables, as the latter also holds the university_id.

As a quick repetition, remember that joins have the following structure:

SELECT table_a.column1, table_a.column2, table_b.column1, ... <br>
FROM table_a <br>
JOIN table_b <br>
ON table_a.column = table_b.column

This results in a combination of table_a and table_b, but only with rows where table_a.column is equal to table_b.column.

In [ ]:
# -- Count the total number of affiliations per university
SELECT COUNT(*), professors.university_id 
FROM affiliations
JOIN professors
ON affiliations.professor_id = professors.id

# -- Group by the university ids of professors
GROUP BY professors.university_id
ORDER BY count DESC;

In [ ]:
# Join all tables in the database (starting with affiliations, professors, organizations,
# and universities) and look at the result.
# -- Join all tables
SELECT *
FROM affiliations
JOIN professors
ON affiliations.professor_id = professors.id
JOIN organizations
ON affiliations.organization_id = organizations.id
JOIN universities
ON professors.university_id = universities.id;

# Now group the result by organization sector, professor, and university city.
# Count the resulting number of rows.
# -- Group the table by organization sector, professor ID and university city
SELECT COUNT(*), organizations.organization_sector, 
professors.id, universities.university_city
FROM affiliations
JOIN professors
ON affiliations.professor_id = professors.id
JOIN organizations
ON affiliations.organization_id = organizations.id
JOIN universities
ON professors.university_id = universities.id
GROUP BY organizations.organization_sector, 
professors.id, universities.university_city;

# Only retain rows with "Media & communication" as organization sector,
# and sort the table by count, in descending order.
# -- Filter the table and sort it
SELECT COUNT(*), organizations.organization_sector, 
professors.id, universities.university_city
FROM affiliations
JOIN professors
ON affiliations.professor_id = professors.id
JOIN organizations
ON affiliations.organization_id = organizations.id
JOIN universities
ON professors.university_id = universities.id
WHERE organizations.organization_sector = 'Media & communication'
GROUP BY organizations.organization_sector, 
professors.id, universities.university_city
ORDER BY COUNT DESC;#### ADD a COLUMN with ALTER TABLE 
ALTER TABLE table_name <br>
ADD COLUMN column_name data_type;

#### Delete table
DROP TABLE table_name;

#### Rename columns
ALTER TABLE table_name<br>
RENAME COLUMN old_name TO new_name;

#### Delete columns
ALTER TABLE table_name<br>
DROP COLUMN column_name;

#### Insert distinct items to rows
INSERT INTO table_name_1<br>
SELECT DISTINCT col_1, col_2, col_3<br>
FROM table_name_2;

### Intro to DBs using Python

#### Connecting to a database with SQL Alchemy

from sqlalchemy import create_engine<br>
engine = create_engine('sqlite:///census_nyc.sqlite')<br>
connection = engine.connect()

 - Engine: a common interface to the database from SQLAlchemy
 - Connection string: All the details required to find the database including login credentials
 
Use print(engine.table_names()) to check the available tables in the database

To work with a table you have to use "Reflection" that reads the database and builds SQLAlchemy Table objects:

from sqlalchemy import MetaData, Table<br>
metadata = MetaData()<br>
census = Table('census', metadata, autoload=True, autoload_with=engine)<br>
print(repr(census))


An engine is just a common interface to a database, and the information it requires to connect to one is contained in a connection string, for example sqlite:///example.sqlite. Here, sqlite in sqlite:/// is the database driver, while example.sqlite is a SQLite file contained in the local directory. https://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls

In [ ]:
# Import create_engine
from sqlalchemy import create_engine

# Create an engine that connects to the census.sqlite file: engine
engine = create_engine('sqlite:///census.sqlite')

# Print table names
print(engine.table_names())

#### Autoloading Tables from a database

SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information. It's the opposite of creating a Table by hand and is very useful for working with existing databases.

To perform reflection, you will first need to import and initialize a MetaData object. MetaData objects contain information about tables stored in a database. During reflection, the MetaData object will be populated with information about the reflected table automatically, so we only need to initialize it before reflecting by calling MetaData().

You will also need to import the Table object from the SQLAlchemy package. Then, you use this Table object to read your table from the engine, autoload the columns, and populate the metadata. This can be done with a single call to Table(): using the Table object in this manner is a lot like passing arguments to a function. For example, to autoload the columns with the engine, you have to specify the keyword arguments autoload=True and autoload_with=engine to Table().

In [ ]:
# Import create_engine, MetaData, and Table
from sqlalchemy import create_engine, MetaData, Table

# Create engine: engine
engine = create_engine('sqlite:///census.sqlite')

# Create a metadata object: metadata
metadata = MetaData()

# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print census table metadata
print(repr(census))